<a href="https://colab.research.google.com/github/cigridjustine/Elective2-Machine-Learning/blob/main/ReviewofPython_Gutierrez_4ANS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Submitted by Cigrid Justine Gutierrez BET CPET 4A NS

This is the notebook for Introduction to Machine Learning

#Review of Python Programming

## Proper Naming Convention

You might think discussing this topic must be pointless or too simplistic but it is actually one of the most frequent mistakes that data scientists, professors, or researchers usually do. Naming variables and functions properly will bring clarity to understanding the code.

In [ ]:
import pandas as pd

In [ ]:
last_names = ["Rosales","Cruz", "Reyes"]
#ln , avoid creating ambiguity

In [ ]:
last_names

['Rosales', 'Cruz', 'Reyes']

##Practice Activity
1. Create variable declarations for 
   - First Names
   -Grades for Prelim
   -Grades for Midterm
   -Grades for Finals

In [23]:
# CODE HERE 

first_names = ["Peter", "Mj", "Taylor", "Megahn", "Anna"]
prelim_grades = ["94", "98", "97", "93", "95"]
gradesMid = ["95", "97", "91", "94", "98"]
f_grades = ["96", "99", "95", "91", "92"]

In [24]:
first_names

['Peter', 'Mj', 'Taylor', 'Megahn', 'Anna']

In [17]:
prelim_grades

['94', '98', '97', '93', '95']

In [18]:
gradesMid

['95', '97', '91', '94', '98']

In [19]:
f_grades

['96', '99', '95', '91', '92']

##Code Reusability

Just like in any writing we want to reduce redundancies in our content. Just like following the rules of brevity we also consider that in creating cleaner code. One way of applying brevity to code is code reusability wherein you refrain from creating code that you repeat in encoding. This is where the use of functions will be most used. Consider the following code below.

In [ ]:
'''
    CASE 2: Computing grades.

    For this cell we are going to look into creating functions for the class.
    This includes computing for their grades and some classroom management
    routines.
'''
### Consider this procedural programming script
gs_1 = [89.4, 78.2, 88.0, 28.5, 67.3]
# Get average grades of the class
class_g = 0
for g in gs_1:
  class_g += g
cmean = class_g/len(gs_1)
print (cmean)

70.28

In [20]:
# Code here for grades  (89,90,73,45)

gs_1 = [89, 90, 73, 45]
class_g = 0
for g in gs_1:
  class_g += g
cmean = class_g/len(gs_1)
print (cmean)

74.25

In [ ]:
### That works but if you keep doing that for production, it would just look
### like spaghetti code. Instead, if you are repeating code, consider creating
### a function.

def average(grades):
  grades_class = 0
  for g in grades:
    grades_class += g
  avg = grades_class/len(grades)
  return avg

In [ ]:
## The code above would be reusable but it is not easy to read. We need to 
### enforce the code refactoring for renaming not just the variables but also
### the functions we are creating. So if we would refactor the 'average' 
### Function earlier it could be:

def get_class_ave(arr):
  class_grades = 0
  for grade in arr:
    class_grades += grade
  class_avg = class_grades/len(arr)
  return class_avg

##Getting Class Statistics

Create a function named get_grades() for computing the semestral grade of each student:

inputs: DataFrame of a class grade sheet.

outpus: DataFrame showing:
    The prelim, midterms, and finals grades of each student
    The semestral grade of each student

Create a function named get_class_stats().

inputs: DataFrame from get_grades().

outpus: DataFrame showing:
    The lowest and highest prelim, midterm, finals, and semestral grades
    the mean, median, mode, and standard deviation of the grades

In [52]:
# Code here 

import statistics 
def get_grades():
  class_grade_sheet = pd.DataFrame({
      'Names':["Peter", "Mj", "Taylor", "Megahn", "Anna"],
      'Prelim Grade': [94, 98, 97, 93, 95],
      'Midterm Grade': [95, 97, 91, 94, 98],
      'Final Grade':[96, 99, 95, 91, 92]})
  
  return class_grade_sheet
print(get_grades());
def get_class_stats():
  Class_GS = get_grades()


  print("\nPrelim Grade")
  print("Highest= " , Class_GS['Prelim Grade'].max())
  print("Lowest= " , Class_GS['Prelim Grade'].min())

  print("Midterm Grade")
  print("Highest= " , Class_GS['Midterm Grade'].max())
  print("Lowest= " , Class_GS['Midterm Grade'].min())

  print("Final Grade")
  print("Highest = " , Class_GS['Final Grade'].max())
  print("Lowest = " , Class_GS['Final Grade'].min())
  
  print("\nMean")
  print(Class_GS.mean())
  print("\nMedian")
  print(Class_GS.median())
  print("\nMode")
  print(Class_GS.mode())

get_class_stats()

    Names  Prelim Grade  Midterm Grade  Final Grade
0   Peter            94             95           96
1      Mj            98             97           99
2  Taylor            97             91           95
3  Megahn            93             94           91
4    Anna            95             98           92

Prelim Grade
Highest=  98
Lowest=  93
Midterm Grade
Highest=  98
Lowest=  91
Final Grade
Highest =  99
Lowest =  91

Mean:
Prelim Grade     95.4
Midterm Grade    95.0
Final Grade      94.6
dtype: float64

Median:
Prelim Grade     95.0
Midterm Grade    95.0
Final Grade      95.0
dtype: float64

Mode:
    Names  Prelim Grade  Midterm Grade  Final Grade
0    Anna            93             91           91
1  Megahn            94             94           92
2      Mj            95             95           95
3   Peter            97             97           96
4  Taylor            98             98           99

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

##Code Optimization
When we consider your code to be part of production or for customer delivery we must consider that they are not laggy nor too space-consuming for devices. This is a common practice in data science and machine learning wherein training algorithms take up resources from computers or considering the space a model consumes at your workspace or your customer’s device.

Space Complexity

This would specifically refer to your choice of data structures. This is a job for reviewing data structures and algorithms for space complexity. Although in Python for AI we are looking into more data structures like matrices and data frames.

In [ ]:
## The following code will optimize how to efficiently store data into memory
enrollees_2016_2020 = ['15022', '18302', '8845', '9203', '10035']
enrollees_2016_2020 = [15022, 18302, 8845, 9203, 10035]

In [1]:
img1 =[[125.453, 254],[64.21,84.53]]
img1

[[125.453, 254], [64.21, 84.53]]

In [ ]:
import numpy as np
img1_vector= np.array(img1)
img1_vector

array([[125.453, 254.   ],
       [ 64.21 ,  84.53 ]])

##Practice Activity
code wil try to optimize getting unique elements from the given
list of class codes

curr_2018_courses = ['220', '270', '318', '450', '101', '768', '223L', '223',
                     '727', '418', '673', '672', '450', '124', '771', '654',
                     '231', '768', '768', '224', '654', '673']

### print an array that shows only the unique elements

In [61]:
curr_2018_courses = ['220', '270', '318', '450', '101', '768', '223', '223', '727', '418', '673', 
                     '672', '450', '124', '771', '654', '231', '768', '768', '224', '654', '673']

def show_unique_elements(curr_2018_courses):
    unique_elements = []

    uniqueNum = set(curr_2018_courses)
    for number in uniqueNum:
      unique_elements.append(number)
    return unique_elements

print(show_unique_elements(curr_2018_courses))

['727', '672', '101', '318', '654', '223', '768', '450', '418', '270', '224', '124', '673', '771', '231', '220']